<footer>
    <div style="width: 20%;">
        <img src="/image/owl-white.png" alt="โลโก้หอพักนกฮูก" style="width: 50%; margin-top: 20px;" class="img-center">
    </div>
    <div>
        <h1 style="font-size: 40px; font-weight: 900;">หอพักนกฮูก</h1>
        <h4 style="font-weight: 700;">ช่องทางการติดต่อ</h4>
        <div class="row">
            <div class="col-5">
            <p>
                <span style="font-weight: 600;">โทรศัพท์:</span> 001-156-3999 <br>
                <span style="font-weight: 600;">LINE:</span> @nokhookdorm <br>
                <span style="font-weight: 600;">อีเมล:</span> admin@nokhookdorm.com <br>
                <span style="font-weight: 600;">โซเชียลมีเดีย:</span> facebook.com/dormnokhook <br>
            </p>
            </div>
            <div class="col-5">
                <p><span style="font-weight: 600;">ที่ตั้ง:</span> <br>&nbsp&nbsp&nbsp&nbsp&nbspบ้านเลขที่ 999/9 ซอยจันทราทอแสง ถนนเงาจันทรา แขวงเมฆา เขตวิหคดำ จังหวัดลูเมนเทียร์ ประเทศโนวาเกลีย 63745</p>
            </div>
        </div>
    </div>
</footer>