<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top shadow-sm">
    <div class="container-fluid" style="margin-left: 20px; margin-right: 20px;">
        <a class="navbar-brand d-flex align-items-center" href="/lesser/">
            <img src="/image/owl-white.png" alt="หอ-นกฮูก" style="width: 45px; height: 45px; margin-right: 10px;">
            <h2 class="mb-0 text-white">หอนกฮูก</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/rooms">ห้องพัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/lessee-info">ผู้เช่า</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/verify-payment">ตรวจสอบการชำระ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>