<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top shadow-sm p-3">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 36px;" href="/lesser/">
            <img src="/image/owl-white.png" alt="หอ-นกฮูก" width="42" height="48" class="d-inline-block align-text-center">
            &nbspหอนกฮูก
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/rooms">ห้องพัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/lessee-info">ผู้เช่า</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesser/verify-payment">ตรวจสอบการชำระ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>