<nav class="navbar navbar-expand-xl navbar-light shadow-sm justify-content-between" style="background-color: #2D336B;">

    <div class="container-fluid" style="margin-left: 20px;">
        <a class="navbar-brand d-flex align-items-center" href="/lessee">
            <img src="/image/owl-white.png" alt="หอ-นกฮูก" style="width: 45px; height: 45px; margin-right: 10px;">
            <h2 class="mb-0 text-white">หอนกฮูก</h2>
        </a>
    </div>

    <div class="d-flex align-items-center ms-auto" style="margin-right: 40px;">

        <!-- ไอคอนบัญชีผู้ใช้ -->
        <div class="nav-item dropdown ms-3">
            <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle" style="font-size: 36px; color: whitesmoke;"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" style="background-color: #9ea4d4f7; font-size: large; margin-top: 20px;">
                <a class="dropdown-item" href="/lessee/profile">ข้อมูลผู้ใช้งาน</a>
                <div class="dropdown-divider" style="background-color: white;"></div>
                <a class="dropdown-item" href="/logout">ออกจากระบบ</a>
            </div>
        </div>
    </div>
</nav>