<nav class="navbar navbar-expand-xl navbar-light shadow-sm" style="background-color: #2D336B;">

    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 36px;" href="/"><img src="/image/owl-white.png" alt="หอ-นกฮูก" style="width: 4%; float: left;"><h2>&nbspหอนกฮูก</h2></a>
    </div>

    <div class="nav-item dropdown" style="padding-left: 20px; margin-right: 30px;">
        <button class="nav-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/image/user-white.png" alt="บัญชีผู้ใช้" style="width: 15%; float: right;"></button>
        <div class="dropdown-menu dropdown-menu-end" style="background-color: #9ea4d4f7; font-size: large;">
            <a class="dropdown-item" href="/">หน้าหลัก</a>
            <div class="dropdown-divider" style="background-color: white;"></div>
            <a class="dropdown-item" href="/log-in">เข้าสู่ระบบ</a>
            <div class="dropdown-divider" style="background-color: white;"></div>
            <a class="dropdown-item" href="/register">ลงทะเบียนบัญชีผู้ใช้</a>
        </div>
    </div>

</nav>