<nav class="navbar navbar-expand-xl navbar-light shadow-sm justify-content-between" style="background-color: #2D336B;">

    <div class="container-fluid" style="margin-left: 20px;">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/image/owl-white.png" alt="หอ-นกฮูก" style="width: 45px; height: 45px; margin-right: 10px;">
            <h2 class="mb-0 text-white">หอนกฮูก</h2>
        </a>
    </div>

    <div class="nav-item dropdown" style="margin-right: 40px;">
        <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list" style="font-size: 36px; color: whitesmoke;"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" style="background-color: #9ea4d4f7; font-size: large; margin-top: 20px;">
            <a class="dropdown-item" href="/log-in">เข้าสู่ระบบ</a>
            <div class="dropdown-divider" style="background-color: white;"></div>
            <a class="dropdown-item" href="/register">ลงทะเบียนบัญชีผู้ใช้</a>
        </div>
    </div>

</nav>