<%- include('head') %>
<body>
    <%- include('navforlog') %>
    <div class="land-grid" style="margin-top: 150px; margin-bottom: 150px;">
        <div id="landing-text">
            <div id="textPart" class="land-txt">
                <h1 class="head-txt">ยินดีต้อนรับ</h1>
                <h3 style="font-weight: 700;"> หอพักนกฮูก – อบอุ่น ปลอดภัย ใกล้ทุกสิ่งที่คุณต้องการ </h3>
                <p style="padding-right: 30px; font-size: larger;">สัมผัสประสบการณ์การพักอาศัยที่สะดวกสบาย กับหอพักที่ตอบโจทย์ไลฟ์สไตล์ของคุณ ห้องพักสะอาด พร้อมเฟอร์นิเจอร์ครบครัน บรรยากาศเงียบสงบ เหมาะสำหรับการพักผ่อนและการเรียน พร้อมสิ่งอำนวยความสะดวกครบครัน ทั้ง Wi-Fi ฟรี ระบบรักษาความปลอดภัย 24 ชั่วโมง และทำเลที่เดินทางง่าย</p>
            </div>
            <div class="land-btn">
                <a class="btn btn-outline-primary btn-lg" style="margin-right: 30px;" href="/log-in" role="button">เข้าสู่ระบบ</a>
                <a class="btn btn-primary btn-lg" href="/register" role="button">ลงทะเบียนบัญชีผู้ใช้</a>
            </div>
        </div>
        <div style="align-self: center;">
            <img src="/image/dorm_day.jpg" alt="dorm_day.jpg" style="width: 100%;" class="img-center">
        </div>
    </div>
</body>
<%- include('footer') %>
</html>