<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #535F61; margin: 10px; border-radius: 10px; padding: 10px;">

    <div class="container-fluid">
        <a class="navbar-brand" style="color: white; font-size: 36px;" href="/">หอ-นกฮูก</a>
        <div class="navbar" style="font-size: 32px;">
            <a href="#" class="nav-item" style="padding-right: 20px; color: white;"><i class="fa-regular fa-bell"></i></a>
            
            <div class="nav-item dropdown">
                <button class="nav-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">ข้อมูลผู้ใช้งาน</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">ออกจากระบบ</a>
                </div>
            </div>
        </div>
        
    </div>

</nav>