<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <main class="row m-5" style="justify-content: center;">
        <!-- room details part -->
        <div class="card shadow-sm align-items-center" style="margin: 20px; padding: 15px; width: 30%;">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <!-- use db -->
                    <p class="h3" style="font-weight: 700;">หมายเลขห้อง A101</p>
                    <p class="h5 text-secondary">• ตึก A • ชั้น 1</p>
                </div>
                <p class="text-secondary"><i class="fa-solid fa-tag"></i> รูปแบบห้อง: Studio | ขนาด: 25 ตร.ม.</p>
                <img class="mw-100 rounded card-img" style="width: 90%;" alt="room101-picture" src="https://www.grandecentrepointpattaya.com/upload/rooms-and-suites/2-rooms-and-suites.jpg?v=66">

                <!-- use db -->
                <div class="row border-top my-5"></div>
                <p class="h4 mt-5">ค่าเช่าห้อง 7000 บาทต่อเดือน</p>
                <div class="align-items-center">
                    <p class="h6 text-secondary"><i class="fa-solid fa-bolt"></i> ค่าไฟ 7 บาทต่อหน่วย</p>
                    <p class="h6 text-secondary"><i class="fa-solid fa-droplet"></i> ค่าน้ำ 18 บาทต่อหน่วย</p>
                    <p class="h6  text-secondary"><i class="fa-solid fa-money-bill"></i> ค่าบริการอื่นๆ 100 บาทต่อเดือน</p>
                </div>

                <div class="row border-top my-5 pt-4">
                    <p class="h4 my-4">สิ่งอำนวยความสะดวก</p>
                    <div class="d-flex flex-wrap align-items-center">
                        <p class="me-5 text-secondary"><i class="fi fi-ss-air-conditioner"></i> เครื่องปรับอากาศ</p>
                        <p class="me-5 text-secondary"><i class="fa-solid fa-fan"></i> พัดลม</p>
                        <p class="me-5 text-secondary"><i class="fa-solid fa-water"></i> เครื่องทำน้ำอุ่น</p>
                        <p class="me-5 text-secondary"><i class="fa-solid fa-barcode"></i> ระเบียง</p>
                        <p class="me-5 text-secondary"><i class="fa-solid fa-wifi"></i> อินเทอร์เน็ต</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- show bill part -->
        <div class="card shadow-sm" style="margin: 20px; padding: 40px; width: 60%;">
            <div class="card-body justify-content-between">
                <div class="me-4 d-flex justify-content-end">
                    <button class="btn btn-info" style="color: black; font-size: 20; font-weight: 500;" onclick="window.location.href='/lessee/payment-history';">
                        <i class="bi bi-clock-history"></i> ประวัติการชำระค่าเช่า
                    </button>
                </div>
                <h2 class="mt-4" style="text-align: center; font-weight: 900;">ใบแจ้งค่าเช่า</h2>
                <%- include('../lessee/payment-bill')%>
                <p class="h6 text-danger">*** ชำระเงินภายในวันที่ </p>
                <div style="justify-self: center; margin-top: 30px;">
                    <button class="btn btn-primary text-nowrap" style="height: 3rem; align-self: center;" onclick="window.location.href='/lessee/uploadConfirmation';">ชำระค่าเช่า</button>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../partials/footer') %>
</html>