<div class="row" style="margin-left: 5px;">
    <!-- connected database : month, date, room-->
    <p class="col"><span style="font-weight: 700;">เลขที่</span> 4</p>
    <p class="col-5"><span style="font-weight: 700;">เลขที่ห้อง</span> 101</p>
</div>
<div class="row ml-2" style="margin-left: 5px;">
    <p class="col pl-1"><span style="font-weight: 700;">ประจำเดือน</span> มกราคม</p>
    <p class="col-5"><span style="font-weight: 700;">วันที่ออกใบชำระ</span> 30 พฤศจิกายน 2568</p>
</div>

<table class="table table-bordered">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">รายละเอียด</th>
            <th scope="col">จำนวนหน่วย</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col">ราคาสุทธิ์</th>
        </tr>
    </thead>
    <tbody>
        <!-- same as clientHome table -->
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าเช่าห้อง</td>
            <td>1</td>
            <td>7000</td>
            <td>7000</td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าไฟ</td>
            <td style="text-align: center;"></td>
            <td>7</td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าน้ำ</td>
            <td ></td>
            <td>18</td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าบริการอื่นๆ</td>
            <td>1</td>
            <td>100</td>
            <td>100</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="font-weight: 700;">รวม</td>
            <td>100</td>
        </tr>
    </tbody>
</table>