<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <main class="d-flex align-items-center flex-column">
        <div class="container mt-5">
            <div class="card shadow-sm p-4">
                <div class="d-flex align-items-center mt-3" style="margin-left: 20px;">
                    <button type="button" class="btn" onclick="window.location.href = '/lessee'">
                        <i class="bi bi-arrow-left-circle fa-2x"></i>
                    </button>
                    <h5 class="fw-bold text-center mt-3">หน้าหลัก</h5>
                </div>
                <div class="text-center">
                    <img src="/image/PromptPay.png" class="img-fluid mb-3" style="width: 25%;">
                    <p class="amount-text" style="color: red; font-size: 26px;">ยอดชำระค่าบริการทั้งหมด <%=total%> บาท</p>
                </div>
                <form action="/lessee/upload" method="POST" enctype="multipart/form-data">
                    <label class="form-label">อัปโหลดสลิปชำระเงิน</label>
                    <input type="file" name="payment_slip" class="form-control" required>
                    
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">ยืนยันการชำระเงิน</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>